.header-page{
        background: #9C3;
        height: 80px;
        width: 100%;
        
}

.header-page h2{
  line-height: 80px;
        color: #fff;
        font-size: 36px;
        font-weight: 600;
        text-transform: capitalize;
}
#portfolio{
    background: #F6F6F6;
    padding: 110px 0;
}

