
section,.section{
    padding: 80px 0;
}
.swiper-container{
    position: relative;
    overflow: hidden;
}
/* swiper左右切换按钮 */
.swiper-button-prev{
    left: 5%;
background: url(../images/skin.png);
 
}
.swiper-button-next{
    right: 5%;
    background: url(../images/skin.png); 
    transform: rotate(180deg)
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none;
}
/* swiper分页器 */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizonta{
    position:absolute;
    bottom:20px;
}
.swiper-pagination-bullet{
    border-radius: 0px;
    width: 32px;
    height: 5px;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    border: none;
    opacity: 1;
    
  
}
.swiper-pagination-bullet-active {
    background: #9C3 none repeat scroll 0 0;
}
.banner-inner{
    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    text-shadow: none;
    text-align: center;
}
.banner-inner h2{
    font-size: 70px;
    font-family: sans-serif;
    color: #9C3;
    margin-bottom: .5rem;
}
.banner-inner h3{
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    margin-bottom: .5rem;
}
.banner-inner .btn{
    margin: 30px 15px;
    background: #9C3 none repeat scroll 0 0;
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFF!important;
    position: relative;
    border: transparent;
    z-index: 1
}
.banner-inner .btn i
{
    margin-right: 10px
}
.section-title{
    text-align: center;
    font-size: 38px;
    line-height: 40px;
    color: #000;
    font-family: 'Muli', sans-serif;
    padding: 10px 0
}
.section-subcontent {
    text-align: center;
    padding-bottom: 30px;
}
p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}
.service-item {
    text-align: center;
}
.service-item h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #666;
    transition: all 0.3s
}
.service-item p {
    font-size: 13px;
}
.service-item .icon-wrapper {
    font-size: 40px;
    margin-bottom: 30px;
}
.service-item .icon-wrapper i {
    color: #9C3;
    font-size: 40px;
}
#built{
    background-color: #F6F6F6;
}
#built h2.title {
    font-size: 28px;
    margin: 10px 0 20px 0;
    line-height: 1.1;
}
#built .lead {
    font-size: 14px;
}
#built .details-list {
    margin-top: 36px;
}

#built .details-list h3 {
    color: #9C3;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: .5rem
}
#our-serves .service-content h3 {
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
#our-serves .nav-tabs{

border-bottom: none;
float: left;
display: table-cell;
vertical-align: top;
padding: 0;

list-style: none;

}
#our-serves .nav-tabs li{
    float: none;
 height:+50px;
}
#our-serves .nav-tabs li a {
    background: #81868e;
    font-size: 20px;
    text-align: center;
    color: #fff;
    float: left;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
    cursor: pointer;
}
#our-serves .nav-tabs li a i{
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: #ddd;
}
#our-serves .nav-tabs li a:hover , #our-serves .nav-tabs li a:focus, #our-serves .nav-tabs li a.active  {
    background: #9C3 none repeat scroll 0 0;
}
#our-serves  .tab-content {
    margin: 10px 0px 0px 80px;
    line-height: 25px;
}
#our-serves .service-content p.lead {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
    color: #666;
}
.progress {
    background: #F5F5F5;
    height: 10px;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}
.skill p {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #666;
}
.progress-bar {
    background: #9C3;
    float: left;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #fff;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 0.6s linear;
    position: relative;
}
.controls {
    text-align: center;
    padding: 20px;
}
.btn-common.active {
    background: #7aa427 none repeat scroll 0 0;
}
.btn-common {
    background: #9C3 none repeat scroll 0;
    color: #FFF!important;
    position: relative;
    border: transparent;
    z-index: 1;
    padding: 7px 30px;
    border-radius: 0px;
    font-weight: 400;
 }
.portfolio-img {
    width: 100%;
overflow: hidden;
display: block;
position: relative;
}
.portfolio-img img {
width: 100%;
    }
    /* 图片hover */
.portfoli-content {
    width: 370px;
position: absolute;
height: 100%;
/* opacity: 0; */
        top: 0;
    }
.sup-desc-wrap .sup-desc-inner {
display: table-cell;
text-align: center;
vertical-align: middle;
padding: 0 35px;
}
.sup-desc-wrap .sup-link {
margin-bottom: 20px;
}
 .sup-desc-wrap .sup-link .left-link, .sup-desc-wrap .sup-link .right-link {
    background: #9C3 none repeat scroll 0 0;
    border: 1px solid #9C3;
    font-size: 14px;
    line-height: normal;
    outline: none;
    border-radius: 50%;
    color: #fff;
    width: 42px;
    height: 42px;
    opacity: 0;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    transform: translateY(20px);
    margin-right: 5px;
    transition: all 400ms ease;
}
     
 .sup-desc-wrap .sup-meta-wrap .sup-title {
    display: block;
    outline: none;
    position: relative;
    top: 50px;
    margin-bottom: 10px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease;
} 
  .sup-desc-wrap .sup-meta-wrap .sup-title h4 {
    font-size: 18px;
    color: #000;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 300;
}
.sup-desc-wrap .sup-meta-wrap .sup-description {
    font-size: 13px;
    line-height: 18px;
    color: #666;
    text-align: center;
    transform: translateY(80px);
    opacity: 0; 
    transition: all 0.5s ease;
}
.portfoli-content:before {
    background-color: rgba(255, 255, 255, 0.8);
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    content: '';
    position: absolute;
    transform: scale(0.8);
overflow: hidden;
    transition: all 400ms ease;
}
.portfolio-item:hover .sup-desc-wrap .sup-meta-wrap .sup-title,
.portfolio-item:hover .portfoli-content, .portfolio-item:hover .portfoli-content:before {
    opacity: 1;
    transform: scale(1);
}
.portfolio-item:hover .sup-desc-wrap .sup-meta-wrap .sup-description {
    transform: translateY(45px);
    opacity: 1;

}
.portfolio-item:hover .sup-desc-wrap .sup-link .left-link,.portfolio-item:hover .sup-desc-wrap .sup-link .right-link{
    transform: translateY(50px);
    opacity: 1;
}
.loadmore-button {
text-align: center;
margin-top: 30px;
}
.loadmore-button .btn {
padding: 14px 35px;
background: #9C3 none repeat scroll 0 0;
z-index:1
}
.featured-box .featured-icon {
    float: left;
    margin-top: 5px;
}

.featured-box .featured-icon i {
    color: #9C3;
    font-size: 28px;
    text-align: center;
    float: left;
    margin-right: 25px;
    margin-bottom: 85px;
    display: block;
}
.featured-box .featured-content h4 {
font-size: 22px;
margin-bottom: 10px;
color:#666;
}
.featured-box .featured-content p {
    font-size: 13px;
}
#pricing {
    background: url(../images/backgrounds/facts-bg.jpg);
}
#pricing .section-subcontent,#pricing .section-title  {
    color: #fff;
}
.pricing-table-x {
    background: rgba(0, 0, 0, 0.7);
    margin: 0 15px;
    padding: 15px 30px;
}
.pricing-table-x .table-header {
    padding: 15px 0;
    color: #fff;
}
.pricing-table-x .table-header h3 {
    font-size: 30px;
    font-weight: 400;
}
.pricing-table-x .plan .price {
    color: #9C3;
    font-size: 30px;
}
.pricing-table-x .plan-info {
    margin-top: 30px;
}
.pricing-table-x .plan-info p {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
.pricing-table-x .button-area {
    padding: 30px 0 40px 0;
}
#meet .team-item figure{
    position: relative;
    overflow: hidden;
    width: 100%;
}
#meet .team-item figure figcaption  {
    width: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}


#meet .team-item figure img {
    width: 100%;
    height: auto;
}
#meet .info {
    background: #F6F6F6;
    padding: 15px 0 1px;
    text-align: center;
}

/* 图片特效 */
#meet .team-item figure figcaption {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    /* opacity: 0; */
    width: 100%;
}
#meet .team-item figure figcaption .details {
    position: absolute;
    top: 30%;
}
#meet .team-item figure figcaption .content-white {
    font-size: 13px;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    line-height: 18px;
    width: 65%;
    transform: translateY(-50px);
    transition: all 400ms ease;
}
#meet .team-item figure figcaption .orange-line {
    background: #9C3 none repeat scroll 0 0;
    margin: 12px auto 6px;
    width: 0px;
    height: 1px;
}
#meet .team-item .social {
    text-align: center;
    margin-top: 15px;
}
 .social .facebook,  .social .twitter,  .social .google-plus {
    background: #9C3 none repeat scroll 0 0;
    border: 1px solid #9C3;
    outline: none;
    border-radius: 50%;
    
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    transform: translateY(50px);
    margin-right: 5px;
    transition: all 400ms ease;
}
.social i{
  color: #fff;   
}
#meet .info h2 {
    color: #000;
    font-size: 18px;
}
.orange-line {
    background: #9C3 none repeat scroll 0 0;
    margin: 12px auto 6px;
    width: 5px;
    height: 1px;
    transition: all 400ms ease;
}
#meet .info p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}
#meet .team-item figure:hover figcaption{
    opacity: 1;
}
#meet .team-item figure:hover .content-white,#meet .team-item figure:hover .facebook,  #meet .team-item figure:hover .twitter,  #meet .team-item figure:hover .google-plus {
    transform: translateY(0px);
}
#meet .team-item figure:hover  .orange-line{
    width: 62px;
}
#awesome{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../images/backgrounds/Team-Work.jpg);
}
#awesome .section-title,#awesome .section-subcontent {
    color: #fff;
}
#awesome .facts-item {
    text-align: center;
    padding-bottom: 30px;
}
#awesome .facts-item i {
    color: #9C3;
}
#awesome .fact-count h3 {
    color: #fff;
    font-weight: 300;
    font-size: 42px;
}

#awesome .fact-count h4 {
    color: #fff;
    font-size: 22px;
}
.owl-carousel {
    position: relative;
    width: 97%;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper {
    position: relative;
}


.owl-carousel .owl-item {
    float: left;
}
.testimonial-inner {
    text-align: center;
    padding: 10px 30px;
    border: 1px solid #ddd;
    margin: 5px;
}
#test .testimonial-images {
    margin-bottom: 20px;
}
#test .testimonial-images img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0px 0px 3px #ddd;
}
#test .testimonial-content p {
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial-footer, .testimonial-footer a {
    color: #9C3;
     font-size: 12px;
    font-weight: 600
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
#test .owl-pagination {
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}
#test .yang .swiper-pagination-bullet-active {
    background: #9C3 none repeat scroll 0 0;
    cursor: pointer;
}
#test .yang{
 position: absolute;
 left: 50%;
 bottom: -20px
}
#test .yang>span {
    display: block;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background: none;
    opacity: 0.5;
    border: 1px solid #9C3;
    cursor: pointer;
    margin-left: 10px;
    float: left;
}


.btn{
    position: relative;
    z-index: 1;
    
}
.btn::after{
    content:'';
    position: absolute;
    background: #7aa427 none repeat scroll 0 0;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}
.btn:hover::after{
    width: 100%;
}
#blog{
    background: #F6F6F6;
}
#blog .blog-wrapper {
    background: #fff;
    box-shadow: 0 1px 1px #ddd;
    padding: 15px;
    transition: all 0.25s ease-in-out;
}
#blog .blog-img{
    position: relative;
}
#blog .blog-img img{
    width: 100%;
}
#blog .blog-text {
    margin-top: 15px;
}
#blog .blog-text h3 {
    font-size: 18px;
    line-height: 30px;
}
#blog .blog-text h3 a {
    color: #555;
}
#blog .blog-text .blog-footer {
    padding: 10px 0px 0px;
    border-top: 1px dashed #ddd;
}
#blog .blog-text .blog-footer a {
    font-size: 12px;
    padding-right: 15px;
    color: #999;
}
#clients .imgbox{
    text-align: center;
    border: 1px solid #ddd;
    padding: 30px;

}
.testimonial-inner:hover{
    border-color: #9C3;
}

