/* 请浮动初始化开始 */
.clearfix:before,
	.clearfix:after {
					    content: "";
					    display: block;
					    clear: both;
					    visibility: hidden;
					    line-height: 0;
					    height: 0;
					    font-size:0;
}

.clearfix { *zoom:1;}
html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-weight: inherit;
	    font-style: inherit;
	    font-size: 100%;
	    font-family: inherit;
	    vertical-align: baseline;
	}
li{

    list-style: none;
}
/* 请浮动初始化结束 */

/* 字体 */
@font-face {
    font-family:'yanglu';
    src: url(../fonts/font-awesome/fontawesome-webfont.svg);
}
/* 字体结束 */
body{
    font-family:'yanglu';
    font-size: 14px;
}
header{
    width: 100%;
    background-color: #fff;
    line-height: 74px;

}
.logo{
    float: left;
    margin-top: 15px;
   
}
.search{
    float: right;
}
.menu{
    float: right;
  
}
.menu ul li{
    float: left;
    position: relative;
    padding: 28px 20px;
    font-weight: 400;
    line-height: 18px;
}
.menu ul li a{
    color: #333;
    transition: all 0.3s
}
.menu ul li:hover>a,.menu ul li .dropdown .dropdown-item:hover,.service-item h2:hover{
color: #9C3;
text-decoration: none; 
}
.menu ul li .dropdown{
    position:absolute;
    /* display: none; */
    opacity: 0;
    transform: translateY(40px);
    padding: 0;
    border-radius: 0;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0px;
    width: 220px;
    border: none;
    z-index:-99;
    background: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    transition: all 0.3s ease-in-out 0s;
}
.menu ul li:hover>.dropdown{
    opacity: 1;
    z-index:99;
    transform: translateY(0);
}
.menu ul li .dropdown .dropdown-item{ 
    font-size: 13px;
    color: #666;
    display: block;
    height: auto;
    padding: 12px 20px 13px;
    line-height: 16px;
    font-weight: 400;
    border-top: 1px solid #e2e6e7;
    transition: all 0.3s ease-in-out 0s;
}
.search{
  position: relative;  
}
.search input{
line-height: 38px;
    border: 1px solid #E4E4E4;
    width: 100%;
    padding: 1px 20px 0 40px;
    color: #818B8D;
    font-size: 12px;
    outline: none;
    border-radius: 50px;

}
.search>.iconfont{
    position: absolute;
    left: 15px;
    color: #9C3;
    font-size: 20px;
    font-weight: lighter;
}
footer {
    background: #282828;
    color: #7C7C7C;
}
footer .small-title {
    margin-bottom: 30px;
    color: #fff;
    font-size: 22px;
    position: relative;
    text-align: left;
}
.social-footer a span {
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 4px;
    width: 35px;
    border-radius: 50%;
    background-color: #9C3;
    text-align: center;
    vertical-align: center;
    color: #fff;
}
.twi{
    margin-bottom: 15px;
}
footer a {
    color: #999;
}
footer .date{
    font-size: 12px;
    font-style: italic;
    color: #bdc3c7;
}
footer .plain {
    margin-right: -5px;
    margin-left: -5px;
}
footer .plain a{
display: inline-block;
    width: 32%;
    font-size: 0px;
    padding: 5px;
    transition: all 0.3s ease;
    }
footer .form-control {
    color: #999;
    font-size: 14px;
    background: #1D1D1D;
    border-radius: 0px;
    border: 1px solid transparent;}
footer #copyright .row {
    padding: 15px 0;
}
.copyright-text,footer #copyright ul{
    margin-top: 15px;
}
.copyright-text a
{
color: #9C3;
}
li.nav-item a{
    padding-right: 10px;
    float: left;
    padding: 0;
    padding-right: 10px;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    background: #282828;
    color: #769e26;
}
.fanding{
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}
.fanding a{
background-color: #9C3;
text-decoration: none;
    display: block;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 0px;
    text-align: center;
}
.section{
    padding: 80px 0;
}