#address h1,#address .section-subcontent{
    text-align: left;
}
#address .section-subcontent{
    line-height: 25px;
}
.control{
border-radius: 0;
background: #f2f2f2 none repeat scroll 0 0;
font-size: 14px;
height: 50px;
padding-right: 30px;
color: #666;
position: relative;
box-shadow: none;
display: block;
width: 100%;
padding: .5rem .75rem;
/* margin-bottom: 10px; */
border: 1px solid rgba(0,0,0,.15)
}
.control:focus {
    border: 1px solid rgba(0,0,0,.15);
    border-color: #9C3;
}
textarea.control{
    height: 188px;
}
#address .smallptit{
    font-size: 22px;
    margin-bottom: 1.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.sub{
    position: relative;
    background: #9C3 none repeat scroll 0 0;
    width: 100%;
    opacity: 0.65;
    transition: all 0.2s linear;
    /* line-height: 52px; */
    padding: 14px 33px;
    font-size: 16px;
}
.col-md-12{
    padding: 0;
}
.btn-common:before {
    content: '';
    background: #7aa427 none repeat scroll 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    z-index: -1;
    transition: all 0.2s linear;
}
.btn-common:hover::before{
    width: 100%;
}
.tips{
    display: block;
    color: red;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    margin-top: 9px;
    margin-bottom: 9px;
    opacity: 0;
}