body{
    font-size: 14px;
    color: #666;
}
.pricing-table2 {
    padding: 15px 30px;
}
.single-pricing-2 {
    border: 1px solid #dedede;
}
.single-pricing-2 .plan-name {
    color: #959595;
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding: 20px 0;
}
.single-pricing-2 ul {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 0;
}
.pricing2-button {
    padding: 20px 0;
    text-align: center;
}
.single-pricing-2 .plan-name small {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
}
.single-pricing-2 ul li {
    border-top: 1px dashed #dedede;
    font-weight: 500;
    padding: 12px 29px;
    text-align: center;
}
.single-pricing-2 ul li:first-child {
    border-top: 0;
}
.single-pricing-2 .plan-price .currency {
    font-size: 50%;
    font-weight: 700;
    left: -0.01em;
    top: -0.9em;
}
.single-pricing-2 .plan-price {
    background: #f2f2f2 none repeat scroll 0 0;
    font-size: 48px;
    margin-bottom: 30px;
    padding: 15px 0;
    text-align: center;
}
strong {
    font-weight: bolder;
    font-size: 48px;
}
.single-pricing-2 .plan-price sub {
    font-size: 18px;
    font-weight: 700;
}
.featured .plan-price {
    color: #fff !important;
    background: #ff5959;
}
.premium .plan-price {
    background: #3498db !important;
    color: #fff !important;
}


